.contents
  .left_content
    %h2 ご用意するアメニティ・設備は?
    .form_box
      %p
        = "@user_category: #{@user_category}"
      %p
        = "@user_house_type: #{@user_house_type}"
      %p
        = "@user_room_type: #{@user_room_type}"
      %p
        = "@user_capacity: #{@user_capacity}"
      %p
        = "@user_num_bedroom: #{@user_num_bedroom}"
      %p
        = "@user_num_of_bath #{@user_num_of_bath}"
      %p
        = "@user_country: #{@user_country}"
      %p
        = "@user_postal_code: #{@user_postal_code}"
      %p
        = "@user_state: #{@user_state}"
      %p
        = "@user_city: #{@user_city}"
      %p
        = "@user_address_line_1: #{@user_address_line_1}"
      %p
        = "@user_address_line_2: #{@user_address_line_2}"
      = form_for @host do |f|
        .location
          = f.hidden_field :category
          = f.hidden_field :house_type
          -# = f.hidden_field :size_of_building
          = f.hidden_field :room_type
          = f.hidden_field :capacity
          = f.hidden_field :num_bedroom
          = f.hidden_field :num_of_bath
          = f.hidden_field :country
          = f.hidden_field :postal_code
          = f.hidden_field :state
          = f.hidden_field :city
          = f.hidden_field :address_line_1
          = f.hidden_field :address_line_2

    %span 安全対策のアメニティ
    .form_box
      = form_for @host do |f|

        = f.submit "次へ"
  .right_content
