.contents
  .left_content
    %h2 掲載するのはどんなお部屋ですか?
    .form_box
      = form_for @host, url: {action: 'location'} do |f|
        .bathroom
          = f.hidden_field :category
          = f.hidden_field :house_type
          = f.hidden_field :room_type
          = f.hidden_field :capacity
          = f.hidden_field :num_bedroom
          %p
            = f.label :num_of_bath, "最大何人まで宿泊可能ですか?"
          %p
            = f.text_area :num_of_bath, placeholder: "ほげ"

        = f.submit "次へ"
  .right_content
