.contents
  .left_content
    %h2 掲載するのはどんなお部屋ですか?
    .form_box
      %p
        = "@user_category: #{@user_category}"
      %p
        = "@user_house_type: #{@user_house_type}"
      %p
        = "@user_room_type: #{@user_room_type}"
      %p
        = "@user_capacity: #{@user_capacity}"
      %p
        = "@user_num_bedroom: #{@user_num_bedroom}"
      %p
        = "@user_num_of_bath #{@user_num_of_bath}"
      %p
        = "@user_country: #{@user_country}"
      %p
        = "@user_postal_code: #{@user_postal_code}"
      %p
        = "@user_state: #{@user_state}"
      %p
        = "@user_city: #{@user_city}"
      %p
        = "@user_address_line_1: #{@user_address_line_1}"
      %p
        = "@user_address_line_2: #{@user_address_line_2}"
      = form_for @host, url: {action: 'location'} do |f|
        .bathroom
          = f.hidden_field :category
          = f.hidden_field :house_type
          = f.hidden_field :room_type
          = f.hidden_field :capacity
          = f.hidden_field :num_bedroom
          %p
            = f.label :num_of_bath, "バスルーム数は？"
          %p
            = f.text_field :num_of_bath, class: "bathroom_count", value: "1"
          .btn.btn-success.btn-sm
            = f.submit "次へ", class: "next"
  .right_content
