.contents
  .left_content
    %h2 最大何人まで宿泊可能ですか?
    .form_box
      = form_for @host, url: bathrooms_hosts_path do |f|
        %p
          = f.label :capacity, "定員"
        %p
          = f.text_field :capacity, class: "capacity_count", value: "1"
          = f.label :is_this_room_using_guest_only, "ゲストが使用できるベッドルーム数は?"
        %p
          = f.select :is_this_room_using_guest_only, Host.is_this_room_using_guest_onlies_i18n.invert
        %p
          = f.label :num_bedroom, "ベッド数"
        %p
          = f.text_field :num_bedroom, class: "bedroom_count", value: "1"
        .btn.btn-success.btn-sm
          = f.submit "次へ", class: "next"
  .right_content
