.contents
  .left_content
    %h2 掲載するのはどんなお部屋ですか?
    .form_box
      %p
        = "@user_category: #{@user_category}"
      %p
        = "@user_house_type: #{@user_house_type}"
      %p
        = "@user_room_type: #{@user_room_type}"
      %p
        = "@user_capacity: #{@user_capacity}"
      %p
        = "@user_num_bedroom: #{@user_num_bedroom}"
      %p
        = "@user_num_of_bath #{@user_num_of_bath}"
      %p
        = "@user_country: #{@user_country}"
      %p
        = "@user_postal_code: #{@user_postal_code}"
      %p
        = "@user_state: #{@user_state}"
      %p
        = "@user_city: #{@user_city}"
      %p
        = "@user_address_line_1: #{@user_address_line_1}"
      %p
        = "@user_address_line_2: #{@user_address_line_2}"
      = form_for @host, url: amenities_hosts_path do |f|
        .location
          = f.hidden_field :category
          = f.hidden_field :house_type
          = f.hidden_field :room_type
          = f.hidden_field :capacity
          = f.hidden_field :num_bedroom
          = f.hidden_field :num_of_bath

          %p
            = f.label :country, "国"
          %p
            = f.text_field :country, placeholder: "例) 日本", class: "form-large"
          %p
            = f.label :postal_code, "郵便番号"
          %p
            = f.number_field :postal_code, placeholder: "例）123-4567", class: "form-large"
          %p
            = f.label :state, "都道府県(例: Tokyo)"
          %p
            = f.text_field :state, placeholder: "例）東京都", class: "form-large"
          %p
            = f.label :city, "市区町村(例: Minato-ku)"
          %p
            = f.text_field :city, placeholder: "例）中央区", class: "form-large"
          %p
            = f.label :address_line_1, "所番地(例: 1-1-1 Roppongi)※数字は半角"
          %p
            = f.text_field :address_line_1, placeholder: "例）銀座一丁目１−１", class: "form-large"
          %p
            = f.label :address_line_2, "アパート名、部屋番号(任意)"
          %p
            = f.text_field :address_line_2, placeholder: "例）１０１号室", class: "form-large"
          .btn.btn-success.btn-sm
            = f.submit "次へ", class: "next"
  .right_content
