%h3 世界のお家
= render partial: 'house'
= render partial: 'house'
= render partial: 'house'
= render partial: 'house'
= render partial: 'house'
= render partial: 'house'
= render partial: 'house'
= render partial: 'house'
= render partial: 'house'

