.contents
  .left_content
    %h2 掲載するのはどんなお部屋ですか?
    .form_box
      = form_for @host do |f|
        .category
          %p
            = f.label :category, "まずカテゴリを絞りましょう"
          %p
            = f.select :category, Host.categories_i18n.invert, prompt: "1つ選択してください"
          %p
            = f.label :house_type, "次に建物タイプを選んでください"
          %p
            -# = f.select :house_type, Host.house_type_i18n.invert prompt: "建物タイプを選択"
          %p
            ヘリテージホテルは、インドの宮殿、ハヴェリ(旧邸宅)、砦などの歴史文化財を宿泊専業施設として改築し、プロの宿泊事業者がゲストに公開しているものです。
        .room
          %p
            = f.label :size_of_building, "物件の総部屋数は？"
          %p
            = f.select :size_of_building, Host.size_of_buildings_i18n.invert
          %p
            = f.label :room_type, "部屋タイプは？"
          %p
            = f.select :room_type, Host.room_types_i18n.invert
  .right_content
