.container.user.clearfix
  .row
    .hidden-xs.col-md-4
    .col-xs-12.col-md-4
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .btn#fb Facebook
          .btn#gg Google
        .signup-separator
          .signup-separator__text または
          %hr
        .field-input
          = f.email_field :email, placeholder: "メールアドレス", autofocus: true, autocomplete: "email", class: 'login-form'
          %span.glyphicon.glyphicon-envelope
        .field-input
          = f.password_field :password, placeholder: "パスワード", autocomplete: "off", class: 'login-form'
          %span.glyphicon.glyphicon-lock
        - if devise_mapping.rememberable?
          .field-label
            = f.check_box :remember_me
            = f.label "ログイン情報を保存"
        .actions
          = f.submit "ログイン", class: 'btn', id: 'submit'
      = render "devise/shared/links"
    .hidden-xs.col-md-4
